<div class="container">
  <mat-form-field class="send__text">
    <textarea matInput placeholder="Message a envoyer" (keyup)="textWriting($event)" [value]="textToSend"></textarea>
  </mat-form-field>
  Écrire */* : pour insérer un texte coloré

  <!-- <button mat-raised-button (click)="handlePreview()" class="page__button">Preview</button> -->

  <div class="text-preview" class="send__text-preview">
    <span *ngFor="let part of textPreview" [ngStyle]="{'color': part.color}">{{part.text}}</span>
  </div>

  <button mat-raised-button (click)="handleSend()" class="page__button">Send</button>
</div>